*{
    margin: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    /* grid-auto-flow: column; */
    /* align-items: center; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* row-gap: 3em;
    column-gap: 10px; */
    /* gap: 3em 10px; */

    grid-auto-flow: dense;


    width: 90%;
    max-width: 600px;
    margin: 80px auto;
    overflow: hidden;
    outline: 3px solid;
    height: 500px;
}

.item{
    height: auto;
    color: #fff;
    font-size: 2.5rem;
}

.item1{
    background-color: slateblue;



}

.item2{

    background-color: darkviolet;
    /* grid-column: span 3;
    grid-row: span 2; */
    /* grid-column: 1/-1;
    grid-row: span 2/-2; */
    /* grid-area: row-start / column-start / row-end / column-end; */
    /* grid-area: span 2 / 1 / -2 / -1 */
    /* grid-column: 4; */
}

.item3{
    background-color: tomato;

}

.item4{
    background-color: midnightblue;
}

.item5{
    background-color: seagreen;
    /* grid-column: span 2; */
}

.item6{
    background-color: crimson;
}